<form action="/admin/add" method="post">
  <div>
    <label>Имя сотрудника:</label>
    <input type="text" name="name" required/>
  </div>
  <div>
    <label>Логин нового пользователя:</label>
    <input type="text" name="login" required/>
  </div>
  <div>
    <label>Пароль нового пользователя:</label>
    <input type="password" name="password" required/>
  </div>
  <div>
    <label>Должность пользователя:</label>
    <input type="text" name="position" required/>
  </div>

  <div>
    <label >Права суперадмина:</label>
    <select name='superadmin'>
      <option value='true'>Да</option>
      <option value='false'>Нет</option>
    </select>
  </div>

  <div>
    <label>Секретный пароль:</label>
    <input type="password" name="secretpass" required/>
  </div>
  <div>
    <input type="submit" value="Создать" />
  </div>
</form>

