
<form action="/admin/add" method="post">
  <div>
    <label>Логин</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label>Пароль:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <label>Секретный пароль:</label>
    <input type="password" name="secretpass" />
  </div>
  <div>
    <input type="submit" value="Войти" />
  </div>
</form>
