<h4>Добавить конфигурацию</h4>

<div> <a href="/admin">Вернуться в меню</a>

  <form action="/anothercar" method="post">
    <div class="wrapper fadeInDown">
      <label>Название конкурента:</label>
      <input type="text" name="name" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Двигатель:</label>
      <input type="text" name="engine" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Каркас:</label>
      <input type="text" name="carcass" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Коробка передач:</label>
      <input type="text" name="transmission" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Цвет:</label>
      <input type="text" name="color" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Количество мест:</label>
      <input type="text" name="numberofseats" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Дорожный просвет:</label>
      <input type="text" name="groundclearance" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Грузоподьемность:</label>
      <input type="text" name="carrying" required />
    </div>

    <div class="wrapper fadeInDown">
      <label>Стоимость:</label>
      <input type="text" name="price" required />
    </div>

    <div class="wrapper fadeInDown">
      <input type="submit" value="Создать" />
    </div>
  </form>
