{{#if engine}}
<form action="/options/addoptions" method="POST">
  <option name="carcass">Двигатель</option>
  <input type="text" placeholder="Название" name="engineName">
  <input type="text" placeholder="Объем" name="engineVolume">
  <input type="text" placeholder="Мощность л.с" name="engineVolume">
  <input type="text" placeholder="Поршни" name="enginePower">
  <input type="text" placeholder="Тип двигателя" name="engineType">
  <button class="add" type="submit">Добавить</button>
</form>
{{/if}}

{{#if carcass}}
<form action="/options/addoptions" method="POST">
  <option name="carcass">Каркас</option>
  <input type="text" placeholder="Название" name="carcassName">
  <input type="text" placeholder="Тип каркаса" name="carcassType">
  <button class="add" type="submit">Добавить</button>
</form>
{{/if}}

{{#if transmission}}
<form action="/options/addoptions" method="POST">
  <option name="transmission">Трансмиссия</option>
  <input type="text" placeholder="Название" name="transName">
  <input type="text" placeholder="Количество передач" name="transCount">
  <input type="text" placeholder="Тип коробки" name="transType">
  <button class="add" type="submit">Добавить</button>
</form>
{{/if}}

{{#if color}}
<form action="/options/addoptions" method="POST">
  <option name="color">Цвет</option>
  <input type="text" placeholder="Название" name="color">
  <button class="add" type="submit">Добавить</button>
</form>
{{/if}}
