<div class="add-variant">
  <form action="/options" method="POST">
    <div>Добавить опцию</div>
    <select>
      {{!-- {{#if engine}}
      <input type="text">
      {{/each}} --}}
    </select>
    {{!-- <div>Выберите каркас</div>
      <select>
        {{#each carcass}}
        <option value="carcass">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите трансмиссию</div>
      <select>
        {{#each transmission}}
        <option value="transmission">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите цвет</div>
      <select>
        {{#each color}}
        <option value="color">{{name}}</option>
        {{/each}}
      </select> --}}
  </form>
</div>
