<div>Добавить опции</div>
<form action="/options/add" method="POST">
  <select name="options" id="options">
    <option value="engine">Двигатель</option>
    <option value="carcass">Корпус</option>
    <option value="transmission">Коробка передач</option>
    <option value="color">Цвет</option>
  </select>
  <button type="submit" name="addoption" id="addoption">Добавить</button>
</form>
</div>
{{!-- <div class="add-variant">
  <form action="/" method="POST">
    <div>Добавить опции</div>
    <br>
    <div>Двигатель</div>
    {{#if engine}}
    <input type="text" placeholder="Название">
    <input type="text" placeholder="Объем">
    <input type="text" placeholder="Поршни">
    <input type="text" placeholder="Тип двигателя">
    <button class="add">Добавить</button>
    {{/if}}

    {{#if carcass}}
    <option value="carcass">Каркас</option>
    <input type="text" placeholder="Название">
    <input type="text" placeholder="Тип каркаса">
    <button class="add">Добавить</button>
    {{/if}}

    {{#if transmission}}
    <option value="transmission">Трансмиссия</option>
    <input type="text" placeholder="Название">
    <input type="text" placeholder="Количество передач">
    <button class="add">Добавить</button>
    {{/if}}

    {{#if color}}
    <option value="color">Цвет</option>
    <input type="text" placeholder="Название">
    <button class="add">Добавить</button>
    {{/if}} --}}
{{!-- {{!-- {{else if transmission}}
      <option value="transmission">Трансмиссия</option>
      <input type="text" placeholder="Название">
      <input type="text" placeholder="Количество передач">
      <button class="add">Добавить</button>
      {{else color}}
======= --}}
