<button class="addConfig">Добавить конфигурацию</button>
<button class="changeConfig">Изменить конфигурацию</button>
<button class="addCompetitors">Добавить конкурента</button>
<button class="editCompetitors">Редактировать конкурентов </button>
