<div class="main-part">

  <h2>Конфигуратор</h2>

  <div class="config-form">
    <form action="/" method="POST">
      <div>Выберите двигатель</div>
      <select>
        {{#each engine}}
        <option value="engine">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите каркас</div>
      <select>
        {{#each carcass}}
        <option value="carcass">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите трансмиссию</div>
      <select>
        {{#each transmission}}
        <option value="transmission">{{name}}</option>
        {{/each}}
      </select>
      <div>Выберите цвет</div>
      <select>
        {{#each color}}
        <option value="color">{{name}}</option>
        {{/each}}
      </select>
    </form>
  </div>

  <a href="/comparison">Сравнить с другими предложениями</a>
</div>
