
<form class="vertical-menu centre" action="/configuration/del" method="post">
    <label><h4>Удалить конфигурацию</h4></label>
  <select class="input" name='name'>
  {{#each configurations}}
    <option value="{{this.name}}">{{this.name}}</option>
  {{/each}}
  </select>
  <div>
    <input type="submit" value="Выбрать" />
  </div>
</form>
