<div class="add-variant">
  <div>Удалить опцию</div>
  <form action="/options/del" method="POST">
    <select name="options" id="options">
      <option value="engine">Двигатель</option>
      <option value="carcass">Корпус</option>
      <option value="transmission">Коробка передач</option>
      <option value="color">Цвет</option>
    </select>
    <button type="submit" name="addoption" id="addoption">Выбрать</button>
  </form>
</div>
