<h5>Выберите пользователя</h5>

<div>
  <form action="/admin/delete" method="post"  value={{this.login}}>
  <select name='user'>
  {{#each users}}
    <option value="{{this.login}}">{{this.name}}</option>
  {{/each}}
  </select>
    <input type="submit" value="Удалить" />
  </form>
<div> <a href="/admin">Отмена</a>
</div>
