<div>Неправильная авторизация. Попробуйте еще раз</div>
<a href="/login">Авторизоваться ещё раз</a>
//ссылка на страницу авторизации, если неправильно авторизовался
//сделать условие, что если неправильно авторизовался, чтобы перенаправлял обратно на страницу авторизации
