<div class="config-form">
  <form action="/" method="POST">
    <input type="text" name="engine">
    <input type="text" name="transmision">
    <input type="text" name="configuration">
    <input type="text" name="color">
  </form>
</div>
